<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MakeVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49F26F0E1CBBC7DA002B29FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F26F271CBBC7DA002B29FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F26F321CBBC7DA002B29FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
